<a href="https://colab.research.google.com/github/leoliuuu/SequenceModeling/blob/main/Miniproject_on_Sequence_Modeling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import the movie review data
import gdown
import pandas as pd

gdown.download('https://drive.google.com/uc?authuser=0&id=1Z8bwIBa_0gFe9-C2W0goZ72lQfFMbxjS&export=download',
               'labeledTrainData.tsv',
               quiet=False)
df = pd.read_csv('labeledTrainData.tsv', header=0, delimiter='\t')
df

Downloading...
From: https://drive.google.com/uc?authuser=0&id=1Z8bwIBa_0gFe9-C2W0goZ72lQfFMbxjS&export=download
To: /content/labeledTrainData.tsv
33.6MB [00:00, 75.1MB/s]

            id  sentiment                                             review
0       5814_8          1  With all this stuff going down at the moment w...
1       2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2       7759_3          0  The film starts with a manager (Nicholas Bell)...
3       3630_4          0  It must be assumed that those who praised this...
4       9495_8          1  Superbly trashy and wondrously unpretentious 8...
...        ...        ...                                                ...
24995   3453_3          0  It seems like more consideration has gone into...
24996   5064_1          0  I don't believe they made this film. Completel...
24997  10905_3          0  Guy is a loser. Can't get girls, needs to buil...
24998  10194_3          0  This 30 minute documentary Buñuel made in the ...
24999   8478_8          1  I saw this movie as a child and it broke my he...

[25000 rows x 3 columns]

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
import numpy as np
from sklearn.model_selection import train_test_split

y = np.array(df['sentiment'])

dfX_train, dfX_test, y_train, y_test = train_test_split(df['review'], y)
print("df_train.shape",dfX_train.shape)
print("y_train.shape",y_train.shape)
print("dfX_test.shape",dfX_test.shape)
print("y_test.shape",y_test.shape)

vectorizer = CountVectorizer(binary=True, min_df = 20) #convert a collection of text documents into a matrix of token counts
vectorizer.fit(dfX_train) #learn a vocabulary dictionary of all tokens in the raw documents

X_train = vectorizer.transform(dfX_train).todense() #transform to a document-term matrix
X_test = vectorizer.transform(dfX_test).todense()
print("X_test.shape",X_test.shape)
print("X_train.shape", X_train.shape)

df_train.shape (18750,)
y_train.shape (18750,)
dfX_test.shape (6250,)
y_test.shape (6250,)
X_test.shape (6250, 10055)
X_train.shape (18750, 10055)

In [ ]:
# Looking at a review to make sure things work
reviews_wrapped = dfX_train.str.wrap(80)
terrible_index = vectorizer.get_feature_names().index('terrible')
print("terrible occurs in", X_train[y_train==1, terrible_index].mean(), "for Y=1")
print("terrible occurs in", X_train[y_train==0, terrible_index].mean(), "for Y=0")
print(reviews_wrapped.iloc[1]) # Just in case you want to read a random review

terrible occurs in 0.016987179487179486 for Y=1
terrible occurs in 0.08690095846645367 for Y=0
Late one night on a desolate road, in an empty saloon Martin Sheen spins a yarn
for Robert Carradine of Hopalong Cassidy and friends tracking a group of
murderous cattle rustlers, who've killed a few men and kidnapped Cassidy's
girl.<br /><br />Writer/director Christopher Coppola May have incurred the wrath
of William Boyd purists by daring to make a modern low budget film featuring
their beloved Hoppy, but I'm glad he did it! No character should be so tied to
an an actor that no one else ever be allowed to play him or her again!<br /><br
/>I thought it was good fun and an interesting updating of the classic
programmers of the thirties and forties. Though guilty of some bad acting, this
is earnest enough and unpretentious, making it hard for me to dislike.<br /><br
/>The whole production is a bit odd though, but I really enjoyed the scenes
between Sheen and Carridine. The fact that we're watching a story within a story
makes the oddness and exaggerations more palatable.